name: website
on:
  push:
    branches:
      - master

jobs:   
  build:
    name: Build website with rmarkdown
    runs-on: ubuntu-latest
    container: mpetienne/demarche_stat:0.33

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Generate slides
        run: Rscript -e "rmarkdown::render_site(encoding = 'UTF-8')"
      - name: Copy R files
        run: Rscript copy_scripts.R
      - name: GitHub Pages action
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build
